<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list)%>

    </li>
    <% if list.photo.attached? %>
<%= cl_image_tag list.photo.key, width: 400, height: 300, crop: :fill %>
<% end %>
  <% end %>
</ul>



<%= link_to "create new list", new_list_path,  class: "m-1 btn btn-light" %></li>
